<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
             Tenetur exercitationem cupiditate sit sed in modi perferendis,
              nisi debitis harum consequatur doloremque. Magnam necessitatibus
               unde culpa dolor quisquam, facilis sint? Odit adipisci
             vitae harum omnis totam impedit consequatur, quas at necessitatibus.</p>
    </div>
</div>